<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>


    <link rel="stylesheet" th:href="@{../css/style.css}">
    <title>Todo</title>
</head>
<body>
<div th:replace="fragment/generics :: cdntestcss"></div>
<div th:replace="fragment/generics :: cdntestjs"></div>
<div class="wrapper d-flex align-items-stretch">
    <div th:replace="fragment/generics :: sidenavbar"></div>
    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5 pt-5">

        <div id="btn-click">
            <a class="link-all" th:href="@{~/task/get-all}">
                <button class="cssbuttons-io-button">
                    <span>Today's Task</span>
                </button>
            </a>
            <a class="link-all" th:href="@{~/task/create}">
                <button class="cssbuttons-io-button">
                    <span>Add Task</span>
                </button>
            </a>

        </div>
        <div class="table-wrapper">
            <table class="fl-table">
                <thead>
                <tr>
                    <th>SN</th>
                    <th>Name</th>
                    <th>Remarks</th>
                    <th>Date</th>
                    <th>Status</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="completeTask,index : ${completeTaskList}">
                    <td th:text="${index.count}"></td>
                    <td th:text="${completeTask.name}"></td>
                    <td th:text="${completeTask.remarks}"></td>
                    <td th:text="${completeTask.date}"></td>
                    <td th:text="${completeTask.taskStatus}"></td>

                </tr>

                <tbody>
            </table>

        </div>
    </div>
</div>
</body>
</html>
