<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{../bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{../bootstrap/robotoFont.css}">
    <link rel="stylesheet" th:href="@{../static/bootstrap/_media.css}">
    <link rel="stylesheet" th:href="@{../bootstrap/_stretched-link.css}">

    <link rel="stylesheet" th:href="@{../css/style.css}">
    <title>Todo</title>
</head>
<body>
<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar" class="">
        <div class="custom-menu">
            <button type="button" id="sidebarCollapse" class="btn btn-primary">
                <i class="fa fa-bars"></i>
                <span class="sr-only">Toggle Menu</span>
            </button>
        </div>
        <div class="p-4 pt-5">
            <h1><a href="index.html" class="logo">Assistant</a></h1>

            <ul class="list-unstyled components mb-5">
                <li>
                    <button class="btn btn-toggle align-items-center rounded collapsed"><a class="link-all" href="weather.html">Weather</a></button>
                </li>
                <li>
                    <button class="btn btn-toggle align-items-center rounded collapsed dropdown-toggle"
                            data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                        <a id="active" class="link-all" >Todo</a></button>
                    <div class="collapse" id="dashboard-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="view-task.html" class="link-dark rounded task">View Task</a></li>
                            <li><a href="add-task.html" class="link-dark rounded task">Add Task</a></li>
                        </ul>
                    </div>
                </li>

                <li>
                    <button class="btn btn-toggle align-items-center rounded collapsed"
                            data-bs-toggle="collapse" data-bs-target="#account-collapse"
                            aria-expanded="false"><a class="link-all" href="account.html">Account</a></button>
                    <div class="collapse" id="account-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="view-income.html" class="link-dark rounded task">Income</a></li>
                            <li><a href="expenses.html" class="link-dark rounded task">Expenses</a></li>
                            <li><a href="sources.html" class="link-dark rounded task">Sources</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
<div id="content2" class="p-4 p-md-3 pt-5">
    <div class="add-task">
        <h5>Add Task</h5>
        <hr />
    </div>
    <form th:action="@{/task/create}" th:object="${taskDetails}" th:method="post" class="form-data">
        <div class="row item-row">
            <div class="col-md-3">
                <label th:for="inputName" class="form-label fw-bold">Name</label>
                <input th:field="*{name}" type="text" class="form-control " name="name" />
                <p th:if="${#fields.hasErrors('name')}" th:errorclass="error" th:errors="*{name}" />
            </div>

        </div>
        <div class="row item-row">
            <div class="col-md-3 mt-4">
                <label th:for="inputTime" class="form-label fw-bold">Starting Time</label>
                <input th:field="*{startTime}"type="time" class="form-control " name="stime" />
                <p th:if="${#fields.hasErrors('startTime')}" th:errorclass="error" th:errors="*{startTime}" />
            </div>
        </div>
        <div class="row item-row mt-4">
            <div class="col-md-3">
                <label th:for="inputTime2" class="form-label fw-bold">Deadline</label>
                <input th:field="*{deadline}"type="time" class="form-control " name="etime" />
                <p th:if="${#fields.hasErrors('deadline')}" th:errorclass="error" th:errors="*{deadline}" />

            </div>
        </div>
        <div class="row item-row mt-4">
            <div class="col-md-3">
                <label th:for="inputAddress" class="form-label fw-bold">Remarks</label>
                <!-- <input type="password" class="form-control" name="remarks" /> -->
                <textarea th:field="*{remarks}"class="input100 form-control" name="message"></textarea>
                <p th:if="${#fields.hasErrors('remarks')}" th:errorclass="error" th:errors="*{remarks}" />

            </div>
        </div>

        <div class="col-12 item-row mt-4">
            <button type="submit" class="btn btn-primary  px-5">Create</button>
        </div>
    </form>
</div>
</div>

<div th:replace="fragment/generics :: javascript">

</div>
</body>
</html>
