<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>


    <link rel="stylesheet" th:href="@{../css/style.css}">
    <title>task</title>
</head>
<body>
<div th:replace="fragment/generics :: cdntestcss"></div>
<div th:replace="fragment/generics :: cdntestjs"></div>
<div class="wrapper d-flex align-items-stretch">
    <div th:replace="fragment/generics :: sidenavbar"></div>
    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5 pt-5">

        <div id="btn-click">
            <a class="link-all" th:href="@{~/task/pending}">
                <button class="cssbuttons-io-button">
                    <span>Pending Task</span>
                </button>
            </a>
            <a class="link-all" th:href="@{~/task/pie}">
                <button class="cssbuttons-io-button">
                    <span>Pie chart</span>
                </button>
            </a>
            <a class="link-all" th:href="@{~/task/create}">
            <button class="cssbuttons-io-button">
                 <span>Add Task</span>
            </button>
            </a>
            <a class="link-all" th:href="@{~/download/task.xlsx}">
                <button class="cssbuttons-io-button">
                    <span>Download</span>
                </button>
            </a>
            <a sec:authorize="isAuthenticated()" class="link-all" th:href="@{~/logout}">
                <button class="cssbuttons-io-button">
                    <span>log out</span>
                </button>
            </a>

        </div>
        <div class="table-wrapper">
            <table class="fl-table">
                <thead>
                <tr>
                    <th>SN</th>
                    <th>Name</th>
                    <th>Remarks</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="task,index : ${taskList}">
                    <td th:text="${index.count}"></td>
                    <td th:text="${task.name}"></td>
                    <td th:text="${task.remarks}"></td>
                    <td th:text="${task.date}"></td>
                    <td th:text="${task.taskStatus}"></td>

                    <td>
                      <a th:href="@{~/task/complete/{id} (id= ${task.taskId})}" >  <button type="button" class="btn btn-danger">Complete</button></a>
                        <a th:href="@{~/task/edit/{id} (id= ${task.taskId})}" >  <button type="button" class="btn btn-success">Edit</button></a>

                    </td>
                </tr>

                <tbody>
            </table>

        </div>
    </div>
</div>
</body>
</html>
