<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{../../css/style.css}">
    <title>login</title>
</head>
<body>
<div th:replace="fragment/generics :: cdntestcss"></div>
<div th:replace="fragment/generics :: cdntestjs"></div>
<div class="wrapper d-flex align-items-stretch">
    <div th:insert="fragment/generics :: sidenavbar" ></div>
    <div id="content" class="p-4 p-md-5 pt-5 in-center">
        <div class="add-task">
            <h5>Login Form</h5>
            <hr />
        </div>
        <div class="contain">
            <div class="form-box">
                <form th:action="@{~/login}" method="post">
                    <div th:if="${param.error}">
                        <div class="alert alert-danger">
                            Invalid username or password.
                        </div>
                    </div>

                    <!--            logout message-->
                    <div th:if="${param.logout}">
                        <div class="alert alert-info">
                            You have been logged out.
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col-md-12 mb-3">
                            <label for="username" class="form-label">Email</label>
                            <input type="email" class="form-control"
                                   id="username"
                                   name="username"
                                   aria-describedby="emailHelp" autofocus="autofocus">

                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password"
                               class="form-control"
                               name="password"
                               id="password">
                    </div>
                    <div class="col-md-12 signup">
                        <p class="signup-text">New here? <a class="link-info" th:href="@{~/register}">Register Now</a></p>
                    </div>
                    <div class="btn-submit">
                        <input type="submit" value="Sign In" class="btn btn-primary"></input>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
</body>
</html>
