<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" th:href="@{../../css/style.css}">
    <title>Todo</title>
</head>
<body>
<div th:replace="fragment/generics :: cdntestcss"></div>
<div th:replace="fragment/generics :: cdntestjs"></div>
<div class="wrapper d-flex align-items-stretch">
    <div th:insert="fragment/generics :: sidenavbar"></div>
    <div id="content2" class="p-4 p-md-3 pt-5">
        <div class="add-task">
            <h5>Add Expenses</h5>
            <hr />
        </div>
        <form class="form-data" th:object="${expenseDetails}" th:action="@{~/expense/create}" th:method="post">
            <div class="row item-row">
                <div class="col-md-3">
                    <label th:for="inputName" class="form-label fw-bold">Name</label>
                    <input th:field="*{name}" type="text" class="form-control " name="name" />
                </div>
            </div>
            <div class="row item-row">
                <div class="col-md-3 mt-4">
                    <label th:for="inputNumber" class="form-label fw-bold">Amount</label>
                    <input  th:field="*{amount}" type="number" class="form-control " name="amount" />
                    <p class="fieldError" th:if="${#fields.hasErrors('amount')}" th:errorclass="error" th:errors="*{amount}" />

                </div>
            </div>
<!--            <div th:each="model : *{expenseType.values()}">-->
<!--                <div class="custom-control custom-radio custom-control-inline">-->
<!--                        <input type="radio" th:field="*{expenseType}" th:value="${model}"-->
<!--                               class="custom-control-input">-->
<!--                    <label class="custom-control-label"-->
<!--                            th:text="${model}">model</label>-->
<!--                </div>-->
<!--            </div>-->
            <div class="row item-row mt-4">
                <div class="col-md-3">
                    <label th:for="inputAddress" class="form-label fw-bold">Description</label>
                    <!-- <input type="password" class="form-control" name="remarks" /> -->
                    <textarea th:field="*{description}" class="input100 form-control" name="message"></textarea>
                    <p class="fieldError" th:if="${#fields.hasErrors('amount')}" th:errorclass="error" th:errors="*{amount}" />

                </div>
            </div>

            <div class="col-12 item-row mt-4">
                <button type="submit" class="btn btn-primary  px-5 text-white">Create</button>
            </div>
        </form>
    </div>
</div>
</div>
</body>
</html>
